.vc_extend_ImageRetina {
  display: inline-block;
}

.vc_extend_ImageRetina--left,
.vc_extend_ImageRetina--right,
.vc_extend_ImageRetina--center {
  display: block;
}

.vc_extend_ImageRetina--left {
  float: left;
}

.vc_extend_ImageRetina--right {
  float: right;
}

.vc_extend_ImageRetina--center {
  margin-right: auto;
  margin-left: auto;
}
